
<%- include('includes/admin_header') %>

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

          <!-- Sidebar Toggle (Topbar) -->
          <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>

     
        </nav>
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->

          <div class="col-md-6 bg-success newProduct" style="border-radius: 10px;">
           
                <div class="m-4 ">
                    <h1 class="h3 mb-4 text-gray-800">
                        <button type="button" class="btn btn-success ">
                          <strong> New Product  </strong> 
                        </button>
                      </h1>
                </div>
          

          </div>
          
         
          <div class="container">
              <%- include('./includes/flash') %>
            <div class="row">
              <div class="col-md-6">
                  <form class="productForm d-none" method="POST" action="/admin/submit-product?_csrf=<%= csrfToken %>" enctype="multipart/form-data" > <!--d-none-->
                    <div class="form-row">
                      <div class="form-group col-md-12">
                        <label for="prouctName"><strong> Product Name</strong></label>
                        <input type="text" name="name" class="form-control name" id="name" placeholder="">
                      </div>
                      <div class="form-group col-md-12">
                        <label for="catName"><strong> Category Name</strong></label>
                        <select class="form-control" name="catName" id="catName" placeholder="">
                          <option>Cash Crops</option>
                          <option>Livestocks</option>
                          <option>Dairy Products</option>
                          <option>Others</option>
                        </select>
                      </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="quantity"> <strong>Product Quantity</strong> </label>
                            <input type="text" name="quantity" class="form-control quantity" id="quantity" placeholder="">
                          </div>
                          <div class="form-group col-md-4">
                              <label for="rate"><strong>Product Rate</strong></label>
                              <input type="text" name="rate" class="form-control rate" id="rate" placeholder="">
                          </div>
                          <div class="form-group col-md-4">
                            <label for="discount"><strong>Discounted Rate</strong></label>
                            <input type="text" name="discount" class="form-control discount" id="discount" placeholder="">
                          </div>
                    </div>
                 
                    <div class="form-row">
                      <div class="form-group col-md-6">
                        <label for="location"><strong>Location</strong></label>
                        <input type="text" name="location" class="form-control location" id="location" placeholder="e.g ikeja lagos">
                      </div>
                    </div>
                    <div class="form-group">
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="customFile" name="uploads">
                            <label class="custom-file-label" for="customFile">Choose image file</label>
                          </div>
                    </div>
                    <div class="form-group">
                        <label for="desc"><strong> Product Description</strong> </label>
                        <textarea  name="desc" class="form-control desc" id="desc" rows="3"></textarea>
                      </div>
                       <input type="hidden" name="uploads" value="products">
                    <button type="submit" class="btn btn-primary">Upload  <i class="fa fa-paper-plane" aria-hidden="true"></i> </button> 
                  </form>
              </div>

              <div class="col-md-6 mt-4">
                  <div class="float-right">
                      <h1 class="h3 mb-4 text-gray-800">
                        <form method="POST" action="/admin/view-products" >
                          <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        <button type="submit" class="btn btn-primary allProduct">
                          <strong> All Product</strong> <i class="fa fa-angle-double-right" style="font-size:18px"></i>
                        </button>
                      </form>
                      </h1>
                  </div>
                  
                
              </div>
              

            </div>

          </div>
         

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->
      <%- include('includes/admin_footer') %>


     