<%- include('includes/admin_header') %>


    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">
        <%- include('./includes/flash') %>

         <!-- Topbar -->
         <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

          <!-- Sidebar Toggle (Topbar) -->
          <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>

           <!-- Topbar Navbar -->
           <ul class="navbar-nav ml-auto">
            <div class=" bg-white rounded">
                <p class="font-weight-bold">
                  <%= user  %> 

                </p>
            </div>
        </ul>
        </nav>
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <h1 class="h3 mb-2 text-gray-800">AHAI FARM PRODUCTS</h1>
          <p class="mb-4"></p>

          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Products Inventory</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Quantity</th>
                      <th>Category</th>
                      <th>Rate</th>
                      <th>Discount</th>
                      <th>Date Uploaded</th>
                    </tr>
                  </thead>
                  <tfoot>
                  </tr>

                  </tfoot>
                  <tbody>
                    <% products.forEach(function(product) { %>
                   
                      <tr>
                      <span class="viewSingle">
                        <td><a href="/admin/update-single-product/<%=product._id%>"><%= product.name %></a></td>
                        <td><%= product.quantity %></td>
                        <td><%= product.catName %></td>
                        <td><%= product.rate %></td>
                        <td><%= product.discount %></td>
                        <td><%= product.createdDate.getMonth() + 1 %>/<%= product.createdDate.getDate() %>/<%= product.createdDate.getFullYear() %></td>
                      </span>
                      </tr>
                    <% }) %>
                    
                  </tbody>
                </table>
              </div>
            </div>
          </div>

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <%- include('includes/admin_footer') %>
      <!-- Page level plugins -->
<script src="/jquery.dataTables.min.js"></script>
<script src="/dataTables.bootstrap4.min.js"></script>

<!-- Page level custom scripts -->
<script src="/datatables-demo.js"></script>